.nav {
  display: flex;

  flex-direction: column;
  gap: 15px;

  @media (min-width: 769px) {
    flex-direction: row;
    gap: 15px;
  }

  @media (min-width: 1024px) {
    gap: 30px;
  }
}

.link {
  text-transform: uppercase;
  font-size: 16px;
  color: #383c3f;
  font-weight: 300;
  transition: all 250ms ease-in-out;
  letter-spacing: 0.5px;

  &:hover,
  &:focus {
    color: #ce2026;
  }

  &.active {
    color: #ce2026;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}
